/*  ------- MEDIA QUERIES --------------- */

/*  -------------- DESKTOP ------------ */
@media screen and (max-width: 2480px) {
  li {
    font-size: 25px;
    text-align: left;
    line-height: 45px;
  }

  .rules {
    background-color: #cee5d0;
    border: 8px dashed #94b49f;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-radius: 10%;
  }

  .rulesImg {
    margin-top: 15px;
    width: 25%;
  }

  .rulesImg:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .wrapper {
    background-image: url("https://i.pinimg.com/originals/ab/1b/15/ab1b15a5ef930fa1697248f6a552fabf.jpg");
    margin: 75px auto;
    padding: 5px;
    width: 50%;
  }
  .simon {
    margin: 130px auto;
    border: solid black;
    background-color: black;
    width: 60%;
    border-radius: 100%;
    padding: 5px;
  }

  .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border: 8px solid black;
    cursor: pointer;
  }
  .topRow {
    height: 25vh;
    width: 100%;
    display: flex;
  }

  .topLeftPanel {
    border-top-left-radius: 100%;
    background-color: forestgreen;
  }

  .topRightPanel {
    border-top-right-radius: 100%;
    background-color: firebrick;
  }

  .bottomRow {
    height: 25vh;
    width: 100%;
    display: flex;
  }

  .bottomLeftPanel {
    border-bottom-left-radius: 100%;
    background-color: gold;
  }

  .bottomRightPanel {
    border-bottom-right-radius: 100%;
    background-color: mediumblue;
  }
  .innerCircle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: black;
    z-index: 1;
  }

  .startButton {
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    color: silver;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    width: 75%;
  }
  .reset {
    background-color: gold;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }

  .power {
    background-color: firebrick;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }
  .last {
    background-color: mediumblue;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }

  .titles {
    display: flex;
    justify-content: space-between;
    margin: 3px auto;
    width: 100%;
    color: white;
    height: 2vh;
    text-align: center;
  }

  .title {
    width: 33%;
  }
  .counter {
    border: solid grey;
    background-color: black;
    color: red;
    margin: 15px auto;
    padding: 10px;
    width: 25%;
    height: 20%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }

  .hidden {
    display: none;
  }

  .loseState {
    text-align: center;
    width: 50%;
    margin: 150px auto;
  }

  .loseStateImg {
    width: 100%;
  }

  .playAgain {
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: #ff96af;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .winState {
    text-align: center;
    width: 50%;
    margin: 150px auto;
  }
}

/* --------------- MID (IPAD/TABLET) ------------ */
@media screen and (max-width: 1400px) {
  li {
    font-size: 25px;
    text-align: left;
    line-height: 45px;
  }

  .rules {
    background-color: #cee5d0;
    border: 8px dashed #94b49f;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-radius: 10%;
  }

  .rulesImg {
    margin-top: 15px;
    width: 25%;
  }

  .rulesImg:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .wrapper {
    margin: 75px auto;
    width: 60%;
  }
  .simon {
    margin: 90px auto;
    border: solid black;
    background-color: black;
    width: 60%;
    border-radius: 100%;
    padding: 5px;
  }

  .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border: 8px solid black;
    cursor: pointer;
  }
  .topRow {
    height: 25vh;
    width: 100%;
    display: flex;
  }

  .topLeftPanel {
    border-top-left-radius: 100%;
    background-color: forestgreen;
  }

  .topRightPanel {
    border-top-right-radius: 100%;
    background-color: firebrick;
  }

  .bottomRow {
    height: 25vh;
    width: 100%;
    display: flex;
  }

  .bottomLeftPanel {
    border-bottom-left-radius: 100%;
    background-color: gold;
  }

  .bottomRightPanel {
    border-bottom-right-radius: 100%;
    background-color: mediumblue;
  }

  .innerCircle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: black;
    z-index: 1;
  }

  .startButton {
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    color: silver;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    width: 75%;
  }
  .reset {
    background-color: gold;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }

  .power {
    background-color: firebrick;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }
  .last {
    background-color: mediumblue;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }

  .titles {
    display: flex;
    justify-content: space-between;
    margin: 3px auto;
    width: 100%;
    color: white;
    height: 2vh;
    text-align: center;
  }

  .title {
    width: 33%;
  }
  .counter {
    border: solid grey;
    background-color: black;
    color: red;
    margin: 15px auto;
    padding: 10px;
    width: 21%;
    height: 17%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }

  .loseState {
    text-align: center;
    width: 50%;
    margin: 150px auto;
  }

  .loseStateImg {
    width: 100%;
  }

  .playAgain {
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: #ff96af;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .winState {
    text-align: center;
    width: 50%;
    margin: 150px auto;
  }
}
/* ------------- mobile ------------ */
@media screen and (max-width: 900px) {
  li {
    font-size: 25px;
    text-align: left;
    line-height: 45px;
  }

  .rules {
    background-color: #cee5d0;
    border: 8px dashed #94b49f;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-radius: 10%;
  }

  .rulesImg {
    margin-top: 15px;
    width: 25%;
  }

  .rulesImg:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .wrapper {
    margin: 75px auto;
    width: 75%;
  }
  .simon {
    margin: 90px auto;
    border: solid black;
    background-color: black;
    width: 75%;
    border-radius: 100%;
    padding: 5px;
  }

  .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border: 8px solid black;
    cursor: pointer;
  }
  .topRow {
    height: 25vh;
    width: 100%;
    display: flex;
  }

  .topLeftPanel {
    border-top-left-radius: 100%;
    background-color: forestgreen;
  }

  .topRightPanel {
    border-top-right-radius: 100%;
    background-color: firebrick;
  }

  .bottomRow {
    height: 25vh;
    width: 100%;
    display: flex;
  }

  .bottomLeftPanel {
    border-bottom-left-radius: 100%;
    background-color: gold;
  }

  .bottomRightPanel {
    border-bottom-right-radius: 100%;
    background-color: mediumblue;
  }

  .innerCircle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: black;
    z-index: 1;
  }

  .startButton {
    padding: 5px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 25px;
    color: silver;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    width: 75%;
  }
  .reset {
    background-color: gold;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }

  .power {
    background-color: firebrick;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }
  .last {
    background-color: mediumblue;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
  }

  .titles {
    display: flex;
    justify-content: space-between;
    margin: 3px auto;
    width: 100%;
    color: white;
    height: 1.5vh;
    text-align: center;
  }

  .title {
    width: 33%;
  }
  .counter {
    border: solid grey;
    background-color: black;
    color: red;
    margin: 15px auto;
    padding: 10px;
    width: 20%;
    height: 15%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }

  .loseState {
    text-align: center;
    width: 50%;
    margin: 150px auto;
  }

  .loseStateImg {
    width: 100%;
  }

  .playAgain {
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: #ff96af;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .winState {
    text-align: center;
    width: 50%;
    margin: 150px auto;
  }
}

/* --------------- GENERAL CSS RULES --------- */
body {
  background-color: #e5e3c9;
}

h1 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.panel:hover {
  filter: brightness(200%);
}

.panel:active {
  filter: brightness(100%);
}

.unclickable {
  pointer-events: none;
}

.active {
  filter: brightness(200%);
}

.hidden {
  display: none;
}

.powerOn {
  background-color: red;
}

.reset:hover,
.power:hover,
.last:hover {
  filter: brightness(200%);
  cursor: pointer;
}

.reset:active,
.power:active,
.last:active {
  filter: brightness(100%);
}

.mobileControls {
  display: none;
}
