.gameContainer {
  border: solid purple;
  margin: 0 auto;
  border: solid black;
  width: 50%;
  height: 75vh;
}

.topRow {
  display: flex;
}

.bottomRow {
  display: flex;
}

.topLeft {
  border: solid black;
  background-color: green;
  height: 37vh;
  width: 50%;
}

.topLeft:hover {
  background-color: lime;
  cursor: pointer;
}

.topLeft:active,
.topLeft.activated {
  background-color: lime;
}

.topRight {
  border: solid black;
  background-color: firebrick;
  height: 37vh;
  width: 50%;
}

.topRight:hover {
  background-color: red;
  cursor: pointer;
}

.topRight:active,
.topRight.activated {
  background-color: red;
}

.bottomLeft {
  border: solid black;
  background-color: gold;
  height: 37vh;
  width: 50%;
}

.bottomLeft:hover {
  background-color: yellow;
  cursor: pointer;
}

.bottomLeftt:active,
.bottomLeft.activated {
  background-color: yellow;
}

.bottomRight {
  border: solid black;
  background-color: blue;
  height: 37vh;
  width: 50%;
}

.bottomRight:hover {
  background-color: cyan;
  cursor: pointer;
}

.bottomRight:active,
.bottomRight.activated {
  background-color: cyan;
}
